@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');



*{
    padding: 0px;
    margin: 5px;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    margin: 0 auto;
    font-size: 24px;
    background-color: hsl(185, 41%, 84%);
}

h1{
    margin-left: 35%;
    font-size: 0.9em;
    letter-spacing: 5px;
    opacity: 0.7;

}
.container-primario {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
}

h3 {
    color: white;
}
.container-valores {
    margin-top: 3%;
}

.second-container {
    margin-top: 3%;
    width: 350px;
    height: 90%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    padding: 25px;
    padding-left: 12px;
}


.first-section, .second-section {
    display: flex;
    flex-direction: column;
}

.item-second-container {
    display: flex;
    justify-content: space-between;
}

.valor-total-first, .valor-total {
    font-weight: 800;
    font-size: 1.5em;
    margin-top: -14%;
    color:hsl(172, 67%, 45%);
}

.titleh3{
    font-size: 14px;
}

h4{
    font-size: 14px;
    margin-top: 30px;
}
.fa-dollar-sign, .fa-person{
    position: absolute;
    margin-left: 1%;
    margin-top: 0.6%;
    opacity: 0.4;
}

.conta-input, .people-input{
    border-radius: 2px;
    width: 100%;
    height: 5vh;
    border: hidden;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: bold;
    font-size: 1em;
    text-align: end;
}   
.conta-input:focus, .people-input:focus{
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 5px;
}
.btn-25, .btn-50, .btn-5, .btn-10, .btn-15, .input-custom{
    font-weight: 500;
    border: none;
    color: white;
    background-color: hsl(183, 100%, 15%);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
}
.btn-25:hover, .btn-50:hover, .btn-5:hover, .btn-10:hover, .btn-15:hover{
    color:hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    transition: 0.5s;
}
.person{
    margin-top: -3%;
    font-size: 10px;
    opacity: 0.5;
    color: white;
}

.btn-reset{
    color: hsl(183, 100%, 15%);
    margin-top: 60px;
    font-weight: 700;
    font-size: 0.7em;
    opacity: 0.2;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 2px;
    background-color: hsl(186, 14%, 43%);
}
.btn-reset:hover{
    opacity: 1.0;
    background-color: hsl(172, 67%, 45%);
    cursor: pointer;
    transition: 0.5s;
    
}
.input-custom{
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    font-weight: 700;
    text-align:end;
}

.input-custom[type='number']::placeholder
{   
    text-align: center;
    color: hsl(183, 100%, 15%);
    opacity: 0.8;
}

.valueLessThanZero{
    color: red;
}

@media (max-width: 750px) {
    .container-primario {
        height: 100%;
        width: 100%;
        padding: 15px;
        border-radius: 20px;
    }
    
    .conta-input, .people-input {
        width: 100%;
        height: 30px;
    }

    .second-container {
        width: 300px;
        padding: 0;
    }

    .valor-total-first, .valor-total {
        font-weight: 800;
        font-size: 1em;
        margin-top: -14%;
        color:hsl(172, 67%, 45%);
    }

    .btn-reset {
        width: 250px;
    }
}

@media (max-width: 300px) {
    .container-primario {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        padding: 0;
    }
    
    .conta-input, .people-input {
        width: 90%;
        height: 30px;
    }

    .second-container {
        width: 100%;
        padding: 0;
    }

    .valor-total-first, .valor-total {
        font-weight: 800;
        font-size: 1em;
        margin-top: -14%;
        color:hsl(172, 67%, 45%);
    }

    .btn-reset {
        width: 100%;
    }
}

